:root {
  --white-color: #ffffff;
  --black-color: #000;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}
button {
  font-family: inherit;
  cursor: pointer;
}
/* .container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
} */

/* ----------------------HEADER----------------------------------*/
.header {
  background-color: var(--white-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 1317px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo-link {
  color: var(--black-color);
  margin-right: 375px;
}
.header-menu-list {
  display: flex;
  gap: 36px;
}
.list {
}
.header-item {
}
.header-item-link {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.503px;
  display: block;
  padding: 38px 0;
}
.header-btn {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.503px;
  border-radius: 30px;
  border: 3px solid #4d4d48;
  background-color: rgba(86, 86, 86, 0);
  min-width: 220px;
  height: 50px;
  display: block;
  margin-left: auto;
}

/* -----SECTION_01----- */
.hero {
  background-image: url(../images/image-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 750px;
  padding-top: 142px;
  padding-bottom: 271px;
  /* margin-bottom: 80px; */
}
.hero-title {
  color: var(--white-color);
  text-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  font-size: 132px;
  font-family: Average;
  line-height: 1.06;
  width: 497px;
  margin-bottom: 18px;
}
.hero-text {
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.503px;
  width: 497px;
  margin-bottom: 58px;
}
.hero-btn {
  color: #fff;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24.162px;
  letter-spacing: 0.503px;
  width: 221px;
  height: 50px;
  border-radius: 30px;
  border: 0px solid #966e44;
  background-color: #966e44;
  box-shadow: 8px 4px 20px 0px var(--white-color);
  display: block;
  padding: 12px 13px;
}
.hero-btn:hover,
.header-btn:focus {
  color: ;
  background-color: ;
}
/* -----SECTION_02----- */
.advantages {
  padding: 80px 0 50px 0;
}
.container {
}
.second-title {
  color: #0f0f0f;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 60px;
}
.advantages-list {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  column-gap: 33px;
  row-gap: 70px;
}
.advantages-link {
  display: block;
}
.advantages-list-item {
  width: calc((100% - 70px) / 2);
}
.advantages-list-cover {
}
.advantages-list-text {
  color: var(--black-color);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding-top: 16px;
  width: 100%;
  height: 100%;
}
/* -----SECTION_03----- */
.section-three {
}
.container {
}

.description-list {
  display: flex;
  gap: 80px;
}
.description-interior {
  display: flex;
}
.description-item {
}
.third-title {
  color: var(--black-color);
  font-size: 32px;
  line-height: 1.5;
  margin-top: 26px;
  margin-bottom: 10px;
}
.description-link {
  display: block;
}
.description-cover {
}
.description-text {
  color: var(--black-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.503px;
  /* width: 100%; */
  width: 580px;
  height: 100%;
  padding-top: 10px;
}
/* ------SECTION_04------- */
.section-four {
  padding-top: 117px;
}
.technical {
  display: flex;
  margin-top: 65px;
}
.characteristics {
  display: flex;
  justify-content: space-between;
  width: 547px;
}
.characteristics-list {
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.characteristics-item {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.503px;
  position: relative;
}
.characteristics-item::after {
  content: "";
  position: absolute;
  width: 547px;
  height: 1px;
  display: block;
  background-color: var(--black-color);
}
.characteristics-numbers-list {
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.characteristics-numbers-item {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.503px;
}
.characteristics-btn {
  width: 296px;
  height: 55px;
  color: var(--white-color);
  border-radius: 8.054px;
  background-color: #966e44;
  border: none;
}

/* ------SECTION_05------- */
.section-five {
  padding-top: 34px;
}

/* ------SECTION_06------- */

.section-six {
  padding-top: 64px;
}
.second-title {
}
.car-equipment {
  display: flex;
  gap: 90px;
}
.equipment-descr {
}
.third-title {
  padding-bottom: 27px;
}
.last-title {
  padding-bottom: 20px;
}
.equipment-text {
  padding-bottom: 15px;
}
.equipment-list {
  list-style: inside;
}
.equipment-item {
  max-width: 480px;
  margin-bottom: 8px;
}
.equipment-btn {
  width: 302.39px;
  height: 57px;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8.054px;
  background-color: #966e44;
  color: var(--white-color);
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.503px;
  margin-top: 62px;
  cursor: pointer;
}
/* ------SECTION_07------- */
.section-seven {
  padding-top: 78px;
}
.second-title {
}
.news-list {
  display: flex;
  gap: 15px;
}
.news-item {
}
.news-date {
  color: var(--black-color);
  font-size: 8px;
  font-weight: 400;
  line-height: 1.33;
  margin-top: 18px;
}
.news-descr {
  color: var(--black-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.337px;
  margin-bottom: 94px;
}
/* ------FOOTER------- */
.footer {
  background-color: #cab397;
  /* padding-top: 34px; */
  padding-bottom: 20px;
}
.footer-div {
  display: flex;
  gap: 150px;
}
.footer-div-navigation {
  padding-top: 200px;
}
.footer-navigation {
  /* display: flex;
  flex-direction: column;
  gap: 12px; */
}
.footer-menu-list {
}
.footer-item {
  margin-bottom: 12px;
  color: var(--black-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.503px;
}
.footer-item-link {
  color: var(--black-color);
}
.footer-form {
  width: 449px;
}
.footer-text {
  color: var(--black-color);
  text-align: center;
  font-size: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 6.6;
  letter-spacing: 0.503px;
  margin-bottom: 5px;
}

.modal-form {
}
.modal-field {
}
.modal-label {
  color: var(--black-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  margin-bottom: 5px;
  display: block;
}
.modal-input {
  width: 100%;
  height: 48px;
  border-radius: 8.054px;
  background-color: #eceff1;
  border: none;
  margin-bottom: 12px;
  outline: transparent;
  padding-left: 16px;
}
.modal-input::placeholder {
  color: #cab397;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.503px;
  /* padding: 12px; */
}
.agree-text {
  color: var(--black-color);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.6;
}
.modal-send-btn {
  width: 412px;
  padding: 16px 80px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #966e44;
  border: none;
  margin-top: 40px;
  color: var(--white-color);
}
.security {
  color: var(--black-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  margin-top: 37px;
  text-align: center;
}
.footer-address {
}
.footer-text-line {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.503px;
  margin-top: 180px;
  margin-bottom: 10px;
}
.address {
}
.address-list {
}
.list {
}
.address-item {
}
.address-link {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.503px;
  font-style: normal;
}

.footer-icons-container {
}
.footer-subtitle {
  margin-top: 45px;
}
.footer-media-list {
  display: flex;
  gap: 20px;
}
.footer-link {
}
.footer-icons {
  /* stroke: var(--black-color); */
  fill: var(--black-color);
  fill: #000;
  margin-top: 40px;
}
