:root {
  --white-color: #ffffff;
  --black-color: #000;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}
button {
  font-family: inherit;
  cursor: pointer;
}
/* .container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
} */

/* ----------------------HEADER----------------------------------*/
.header {
  background-color: var(--white-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 1317px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo-link {
  color: var(--black-color);
  margin-right: 375px;
}
.header-menu-list {
  display: flex;
  gap: 36px;
}
.list {
}
.header-item {
}
.header-item-link {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.503px;
  display: block;
  padding: 38px 0;
}
.header-btn {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.503px;
  border-radius: 30px;
  border: 3px solid #4d4d48;
  background-color: rgba(86, 86, 86, 0);
  min-width: 220px;
  height: 50px;
  display: block;
  margin-left: auto;
}

/* -----SECTION_01----- */
.hero {
  background-image: url(../images/image-hero.jpg);
  padding-top: 142px;
  padding-bottom: 271px;
}
.hero-title {
  color: var(--white-color);
  text-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  font-size: 132px;
  font-family: Average;
  line-height: 1.06;
  width: 497px;
  margin-bottom: 18px;
}
.hero-text {
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.503px;
  width: 497px;
  margin-bottom: 58px;
}
.hero-btn {
  color: #fff;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24.162px;
  letter-spacing: 0.503px;
  width: 221px;
  height: 50px;
  border-radius: 30px;
  border: 0px solid #966e44;
  background-color: #966e44;
  box-shadow: 8px 4px 20px 0px #fff;
  display: block;
  padding: 12px 13px;
}
.hero-btn:hover,
.header-btn: focus {
  color: ;
  background-color: ;
}
/* -----SECTION_02----- */
.advantages {
}
.container {
}
.second-title {
  color: #0f0f0f;
  font-size: 48px;
  line-height: 48px;
}
.advantages-list-container {
  display: flex;
}
.advantages-list {
}
.advantages-list-item {
}
.advantages-list-text {
  color: var(--black-color);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
